body{width:500px; max-height:500px;}
#menu-bar, #menu-bar ul{float: left; margin: 0; padding-left: 0px;}
#toolbar{border-radius: 10px;}
#toolbar li{float:left; list-style-type: none;}
#toolbar a, #toolbar a:link, #toolbar a.active{border-radius: 10px;color: #000;padding: 0 10px;text-decoration: none;}
#toolbar a:hover{background: #444444;color: #fff;}
#toolbar a.active{background:url("images/toolbar.png") repeat-x scroll 0 0 transparent;color: #fff;}
#info-section{clear: both;margin-left: 5px;padding-top: 10px}